@charset "utf-8";
/* CSS Document */

p  {
	color: black;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color:deeppink; 
	padding: 20px;
}

.paragraf_2 {color: black; background-color: rgba #D04C95}
h1, h2, h3, h4 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:fuchsia;
}
body {
	background-image:url("16995891.jpg");		
}
a:link {
	color: black;
	background-color:deeppink;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000; 
}
a:hover {
	background-color:darksalmon;
}
img {
	height: 250px;
}
